
<script type="text/html" template>
<style>
    .menu-box {
      display: flex;
      margin-left: 100px;
    }
    .wx-btn {
        padding: 30px;
        text-align: center;
    }
    .phone {
        background-color: #ccc;
        width: 294px;
        height: 580px;
        position: relative;
        border:1px solid #f1f1f1;
        background: url({{ layui.setter.base }}style/images/bg_mobile_head_default46c7e6.png) no-repeat;
        background-size:100%;
        background-color: #f1f1f1;
    }
    .phone-footer {
        background: url({{ layui.setter.base }}style/images/bg_mobile_foot_default46c7e6.png) no-repeat;
        height: 50px;
        width: 250px;
        position: absolute;
        bottom: 0;
        display: flex;
        padding-left: 44px;
        background-color: #fff;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }
    .phone-menu-box {
        width: 100%;
        position: relative;
    }
    .menus {
        cursor: pointer;
        border: 1px solid #d6d6d6;
        color: #888;
        position: absolute;
        box-sizing: border-box;
        line-height: 48px;
        text-align: center;
    }
    .menus.cur {
      color: #42a047;
      border:1px solid #42a047;
    }
    .addsubmenu {
      position: absolute;
      top: -68px;
      border:1px solid #ccc;
      width: 100px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #888;
      box-sizing: border-box;
    }
    .addsubmenu ul {
        width: 100%;
    }
    .addsubmenu li {
        line-height: 48px;
        height: 48px;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: center;
        white-space:nowrap;
        overflow:hidden;
        font-size: 13px;
        box-sizing: border-box;
    }
    .addsubmenu li:last-child {
        border-bottom: none;
    }
    .addsubmenu li:hover {
      background-color: #f1f1f1;
    }
    .addsubmenu li.cur {
      border:1px solid #42a047;
    }

    #operation-box {
      margin-left:40px;
      flex:1;
    }
    .json-data {
      display: none;
      margin-left:40px;
      flex:1;
    }
    .layui-card {
        box-shadow: none;
        border:1px solid #dedede;
    }
    .operation-card {
      height: 580px;
      margin-bottom:0;
      background: #f4f5f9;
    }
    .json-data-content {
      height: 580px;
      width: 100%;
      border: 1px solid #ccc;
    }
    .operation-content {
      border:1px solid #dedede;
      height: 300px;
    }
    .tip {
      padding: 6px 49px;
    font-size: 12px;
    color: #888;
    }
    .cur>.arrow_out {
      border-top-color: #42a047;
    }
    .layui-input-block {
    margin-left: 120px;}
    .layui-form-label { width: 90px;}
    .layui-card-header { border-bottom: 1px solid #dedede; margin-bottom: 36px;}
    .layui-form-radio {line-height: 24px;}
    .aliicon-caidan1 {cursor: move;}
  </style>
</script>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">
            主页
        </a>
        <a>
            <cite>
                微信公众号
            </cite>
        </a>
        <a>
            <cite>
                菜单管理
            </cite>
        </a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card layui-anim layui-anim-upbit">
        <div class="layui-card-body layui-row">
            <div class="menu-box">
                <div class="wx-box">
                    <div class="phone">
                        <div class="phone-header"></div>
                        <div class="phone-footer">
                            <div class="phone-menu-box"></div>
                        </div>
                    </div>
                    <div class="wx-btn">
                      <button class="layui-btn layui-btn-primary menu-sort" type="button">菜单排序</button>
                      <button class="layui-btn layui-btn show-json" type="button">查看json</button>
                    </div>
                </div>

                <div id="operation-box">

                </div>

                <div class="json-data">
                    <div class="layui-card json-data-content layui-form">
                        <textarea class="json-data-content"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="phone-footer-tpl" type="text/html">
{{#   layui.each(d.menus, function(index, item) {                                                                        }}
      <div class="menus {{d.isSort?'issort':''}} {{d.curindex==index&&d.subindex==null&&!d.isSort?'cur':''}}" style="width:{{d.subWidth}}px;left:{{d.subWidth*index}}px" DR_drag="1" DR_replace="1">
        {{d.isSort?'<i class="iconfont aliicon-caidan1 drag"></i>':''}}
        {{item.name}}
      
{{#   if(d.curindex==index){                                      }}      
          <div class="addsubmenu" style="width: {{d.subWidth}}px;top:-{{item.sub_button?item.sub_button.length < 5&&!d.isSort?(item.sub_button.length+1)*48+10:(item.sub_button.length)*48+10:58}}px; {{item.sub_button==undefined&&d.isSort?' display:none;':''}}">
              <ul>
            {{#     if( (item.sub_button==undefined || item.sub_button.length<5) && !d.isSort) {                                                       }}
                <li class="add-sub-menu"><i class="layui-icon layui-icon-add-1"></i> <i class="arrow arrow_out"></i>
              <i class="arrow arrow_in"></i></li>
            {{#     }                                              }}


            {{#   layui.each(item.sub_button, function(si, st){                               }}
                  <li class="sub-menu {{d.isSort?'issort':''}} {{d.subindex!=null&&d.curindex==index&&d.subindex==si&&!d.isSort?'cur':''}}">
                    {{d.isSort?'<i class="iconfont aliicon-caidan1"></i>':''}}
                    {{st.name}} <i class="arrow arrow_out"></i>
              <i class="arrow arrow_in"></i></li>

            {{#   })                                                                                    }}
            {{#                                                                               }}


            {{#                                                                                 }}
              </ul>
             
          </div>

{{#    }                                         }}

      </div>

      </div>
{{#   })                                                                                                       }}


{{#  if(d.menus.length < 3 && !d.isSort) {                                 }}
{{#  if(d.menus.length==0){                                                                       }}
    <div class="menus menu-add {{d.curindex==d.menus.length?'cur':''}}" style="width: {{d.subWidth}}px;left:{{d.subWidth*d.menus.length}}px">
      <i class="layui-icon layui-icon-add-1"></i>
      添加菜单
    </div>
{{#   }else{                                                                      }}
    <div class="menus menu-add {{d.curindex==d.menus.length?'cur':''}}" style="width: {{d.subWidth}}px;left:{{d.subWidth*d.menus.length}}px">
      <i class="layui-icon layui-icon-add-1"></i>
    </div>
{{#   }                                                }}
{{#   }                                                }}
</script>


<script type="text/html" id="operation-tpl">
  <div class="layui-card operation-card layui-form" lay-filter="operation-form">
      <div class="layui-card-header">{{d.sub==undefined?'设置主菜单':'设置子菜单'}}</div>
      <div class="layui-card-body">
          <div class="layui-form-item">
              <label class="layui-form-label">菜单名称</label>
              <div class="layui-input-block" style="width: 200px;">
                <input type="text" name="name" value="{{d.name}}" lay-verify="required" autocomplete="off" class="layui-input operation-input">
                字数不超过4个汉字或8个字母
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">菜单功能</label>
        {{#    if(d.sub_button){                 }}
                <input type="radio" title="展开子菜单" checked>
        {{#     }else{                                        }}
              <div class="layui-input-block menu-content-radios">
                  <input type="radio" name="menu-type" value="click" title="默认点击事件" {{d.type=='click'?'checked':''}} lay-filter="menu-type-filter">
                  <input type="radio" name="menu-type" value="media_id" title="发送消息" {{d.type=='media_id'?'checked':''}} lay-filter="menu-type-filter">
                  <input type="radio" name="menu-type" value="view_limited" title="跳转公证号文章" {{d.type=='view_limited'?'checked':''}} lay-filter="menu-type-filter">
                  <input type="radio" name="menu-type" value="view" title="跳转H5" {{d.type=='view'?'checked':''}} lay-filter="menu-type-filter">
                  <input type="radio" name="menu-type" value="miniprogram" title="跳转小程序" {{d.type=='miniprogram'?'checked':''}} lay-filter="menu-type-filter">
                  <input type="radio" name="menu-type" value="scancode_push" title="打开扫一扫" {{d.type=='scancode_push'?'checked':''}} lay-filter="menu-type-filter">
              </div>

              <div class="layui-form-item operation-content">

              <div class="layui-form-item">
         {{#     if(d.type=='click'){                                                            }}   
                <div class="tip"> 订阅者点击该菜单会向服务器发送key </div>
                  <label class="layui-form-label">key</label>
                  <div class="layui-input-block" style="width: 30%;">
                      <input value="{{d.key||''}}" type="text" name="key" lay-verify="required" autocomplete="off" class="layui-input operation-input">
                    </div>
                </div>
          {{#    }else if(d.type=='media_id'){                                                       }}    
                <div class="tip"> 订阅者点击该菜单会收到服务器下发的消息 </div>
                  <label class="layui-form-label">media_id</label>
                  <div class="layui-input-block" style="width: 30%;">
                      <input value="{{d.media_id||''}}" type="text" name="media_id" lay-verify="required" autocomplete="off" class="layui-input operation-input">
                    </div>
                </div>
          {{#    }else if(d.type=='view_limited'){                                                  }}   
                <div class="tip"> 订阅者点击该菜单会直接打开公众号文章 </div>
                  <label class="layui-form-label">文章media_id</label>
                  <div class="layui-input-block" style="width: 30%;">
                      <input value="{{d.media_id||''}}" type="text" name="media_id" lay-verify="required" autocomplete="off" class="layui-input operation-input">
                    </div>
                </div>
          {{#    }else if(d.type=='view'){                          }}   
                <div class="tip"> 订阅者点击该菜单会跳转H5 </div>
                  <label class="layui-form-label">H5地址</label>
                  <div class="layui-input-block" style="width: 30%;">
                      <input value="{{d.url||''}}" type="text" name="url" lay-verify="required" autocomplete="off" class="layui-input operation-input">
                    </div>
                </div>  
          {{#    }else if(d.type=='miniprogram'){                          }}   
                <div class="tip"> 订阅者点击该菜单会打开微信小程序 </div>
                  <label class="layui-form-label">小程序appid</label>
                  <div class="layui-input-block" style="width: 30%;">
                      <input value="{{d.appid||''}}" type="text" name="appid" lay-verify="required" autocomplete="off" class="layui-input operation-input">
                    </div>
                </div>  
          {{#    }else if(d.type=='scancode_push'){                          }}   
                <div class="tip"> 订阅者点击该菜单会打开微信扫一扫 </div>
                <label class="layui-form-label"></label>
                  <div class="layui-input-block" style="width: 30%;">
                  </div>
                </div> 
          {{#   }   }}
          </div>

        {{#     }                                       }}      
          </div>
        

  </div>
</div>
<div class="wx-btn" style="text-align: left;margin-left: 200px;">
<button class="layui-btn layui-btn">保存并发布</button>
<button class="layui-btn layui-btn-danger">删除菜单</button>
</div>

</script>



<script>
layui.use(['admin', 'form','myUtils','laytpl', 'tdrag'], function(){
  var $ = layui.$;
  var myUtils = layui.myUtils;

  var MENUDATA = {};
  MENUDATA.menus = layui.data('wechat_menu')['menu']?layui.data('wechat_menu')['menu']:[];
  MENUDATA.curindex = 0;
  MENUDATA.subindex;
  MENUDATA.isSort = false;

  randerMenus();
  randerOperation();

  $('body').on('click', '.menus', function(event) {
      MENUDATA.subindex = null;
      if($(this).hasClass('menu-add')){
          changeMenus('top');
      }else{
          MENUDATA.curindex = $(this).index();
          randerMenus();
      }
      if(!MENUDATA.isSort){
          randerOperation();
      }
  });

  //子菜单点击
  $('body').on('click', '.addsubmenu li', function(event) {
      event.stopPropagation();
      if($(this).hasClass('add-sub-menu')){
          MENUDATA.subindex = null;
          changeMenus('sub');
      }else{
          MENUDATA.subindex = $(this).parent('ul').children('.sub-menu').length<5?$(this).index()-1:$(this).index();
          randerMenus();
      }
      MENUDATA.isSort || randerOperation();
  });


  /**
   * 修改MENUS
   * @author CCC  2019-08-17T20:09:39+0800
   * @param  {Number} index 顺序
   * @param  {String} level top/sub
   */
  function changeMenus(level) {
      var _menus = MENUDATA.menus;
      if(level=='top'){
          MENUDATA.menus.push({"name":'菜单名称', "type":"click", "key":'menu_click_'+_menus.length});
          MENUDATA.curindex = _menus.length;
      }else{
          var parentIndex = MENUDATA.curindex;
          var subMenu = MENUDATA.menus[parentIndex].sub_button || [];
          var iName = MENUDATA.menus[parentIndex].name;
          subMenu.push({"name":'子菜单名称', "type":"click", "key":'menu_click_'+parentIndex+'_'+subMenu.length});
          MENUDATA.menus[parentIndex] = {
            name: iName,
            sub_button: subMenu
          }
      }
      layui.data('wechat_menu', {key:'menu', value: MENUDATA.menus});
      randerMenus();
  }
  
  /**
   * 重新渲染左侧菜单
   * @author CCC  2019-08-17T20:11:59+0800
   * @return {[type]} [description]
   */
  function randerMenus() {
      var data = $.extend(true, {}, MENUDATA);
      if(MENUDATA.menus.length<3){
          data.subWidth = 250/(MENUDATA.menus.length+1);
      }else if(MENUDATA.menus.length==3){
          data.subWidth = 250/(MENUDATA.menus.length);
      }else{
          data.subWidth = 250;
      }
      layui.laytpl($('#phone-footer-tpl').html()).render(data, function(html){
          $('.phone-menu-box').html(html);
      });
  }


  /**
   * 重新渲染右侧操作
   * @author CCC  2019-08-17T23:39:58+0800
   * @return {[type]} [description]
   */
  function randerOperation(operation_data) {
    console.log(111);
      if(MENUDATA.curindex!=MENUDATA.menus.length){
          if(MENUDATA.subindex!=null){   //子菜单
              var data = MENUDATA.menus[MENUDATA.curindex]['sub_button'][MENUDATA.subindex];
              data['sub'] = MENUDATA.subindex;
          }else{      //主菜单
              var data = MENUDATA.menus[MENUDATA.curindex];            
          }

          data = $.extend(true, data, operation_data);
          
          layui.laytpl($('#operation-tpl').html()).render(data, function(html){
              $('#operation-box').html(html);
          });
          layui.form.render(null, 'operation-form');
      }else{
          $('#operation-box').html('');
      }
      $('#operation-box').show();
      $('.json-data').hide();
  }


  //////////////////////右侧菜单修改////////////////////////////
  //点击菜单内容rediao
  layui.form.on("radio(menu-type-filter)", function (data) {
      randerOperation({type: data.value});
      layui.data('wechat_menu', {key:'menu', value: MENUDATA.menus});
  })

  $('body').on('keyup', '.operation-input', function(event) {
      var _ac = $(this).attr('name');
      var _val = $(this).val();

      if(MENUDATA.subindex!=null){   //子菜单
           MENUDATA.menus[MENUDATA.curindex]['sub_button'][MENUDATA.subindex][_ac] = _val;
      }else{      //主菜单
          MENUDATA.menus[MENUDATA.curindex][_ac] = _val;
      }
      randerMenus();
      layui.data('wechat_menu', {key:'menu', value: MENUDATA.menus});
  });

  ////////////////////////按钮功能///////////////////
  //查看json
  $('.show-json').click(function(event) {
    if($('.json-data').is(':visible')){
      $('.json-data').hide();
    }else{
      layui.admin.req({
        url:'wechat/menu/JsonPretiy',
        data:{button:MENUDATA.menus},
        type:'post',
        done:function (res) {
          $('.json-data-content').val(res.data);
          $('.json-data').show();
          $('#operation-box').hide();
        }
      })
    }
  });

  //菜单排序
  $('.menu-sort').click(function(event) {
      MENUDATA.isSort = !MENUDATA.isSort;
      !MENUDATA.isSort || $('#operation-box').hide();
      randerMenus();

      // $('.menus').Tdrag({
      //      scope:".phone-menu-box",  //限制拖拽
      //      axis:"x",      //X拖拽
      //      handle:".aliicon-caidan1",  //拖拽元素
      //      pos:true,
      //      dragChange:true
      // })
      $('.menus').addClass('DR_mid');
      $('body').dragMove({  
          limit: true,// 限制在窗口内  
          callback: function($move, $replace) {
              console.log('拖动了'+ $('p', $move).text() +'跟'+ $('p', $replace).text() +'进行交换');
          }  
      }); 

  });

 

});
</script>
