<style type="text/css">
    .site-doc-icon li {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    margin: 2px;
    border: 1px solid #e2e2e2;
    padding: 4px;
    font-size: 20px;
    text-align: center;
    transition: all .3s;
    -webkit-transition: all .3s;
    }
    .site-doc-icon li:hover {
    cursor: pointer;
    border: 1px solid #7996ff;
    }
    .site-doc-icon li.cur {
    border:1px solid #DD691D !important;
    box-shadow: 2px 2px 2px #ccc;
    }
</style>
<div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">
            layui-icon
        </li>
        <li>
            iconfont
        </li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <ul class="site-doc-icon">
                <li>
                    <i class="layui-icon layui-icon-rate-half"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-rate"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-rate-solid"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-cellphone"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-vercode"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-login-wechat"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-login-qq"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-login-weibo"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-password"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-username"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-auz"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-spread-left"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-snowflake"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-tips"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-note"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-home"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-senior"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-refresh"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-refresh-1"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-flag"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-theme"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-notice"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-website"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-console"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-face-surprised"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-set"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-template-1"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-app"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-template"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-praise"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-tread"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-male"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-female"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-camera"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-camera-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-more"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-rmb"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-dollar"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-diamond"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fire"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-return"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-location"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-read"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-survey"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-face-smile"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-face-cry"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-cart-simple"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-cart"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-next"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-prev"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-upload-drag"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-upload"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-download-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-component"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-file-b"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-user"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-find-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-loading-1 layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-add-1"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-play"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-pause"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-headset"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-video"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-voice"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-speaker"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-del"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-code"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-html"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-strong"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-unlink"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-picture"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-link"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-face-smile-b"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-align-left"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-align-right"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-align-center"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-u"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-i"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-tabs"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-radio"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-edit"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-share"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-delete"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-form"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-cellphone-fine"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-dialogue"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-fonts-clear"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-layer"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-date"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-water"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-code-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-carousel"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-prev-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-layouts"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-util"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-templeate-1"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-upload-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-tree"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-table"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-chart"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-chart-screen"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-engine"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-triangle-d"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-triangle-r"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-file"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-set-sm"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-add-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-404"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-about"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-up"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-down"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-left"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-right"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-circle-dot"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-search"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-set-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-group"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-friends"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-reply-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-menu-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-log"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-picture-fine"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-face-smile-fine"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-list"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-release"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-ok"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-help"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-chat"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-top"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-star"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-star-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-close-fill"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-close"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-ok-circle"></i>
                </li>
                <li>
                    <i class="layui-icon layui-icon-add-circle-fine"></i>
                </li>
            </ul>
        </div>
        <div class="layui-tab-item">
            <ul class="site-doc-icon">
                <li>
                    <i class="iconfont aliicon-weixingongzhonghao"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
